@font-face {
    font-family: "Comic";
    src :  url(./fonts/comic.eot);
    src : url(./fonts/comic.eot) format("embedded-opentype"),
    url(./fonts/comic.woff) format("woff"),
    url(./fonts/comic.ttf) format("truetype");
    font-weight: normal;
}
html{
    font-size: 100%;
}
.contactBody{
    font-family: "Comic";
    direction: ltr;
}
.note{
    background-color: #fed330ff;
font-family: Comic;
}
.h2{
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}
.botHeader{
    width:100% ;
    height: 100px;
}
.search{
    direction: ltr;
    display: inline-block;
    vertical-align: top;
    width:calc( 60% - 1rem) ;
    margin-left: 1rem;
    left:0;
    margin-top: 2rem;
    /*background-color: rebeccapurple;*/
}
.search input[id="search"]{
    border: 1px solid #4f4f4f;
    border-radius:.7rem;
    padding: .5rem 3rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: inherit;
}
.search #btnsearch span{
    display: inline-block;
    padding: .5rem 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
#btnsearch{
    border: 1px solid #4f4f4f;
    border-radius:.7rem;
    background-color: white;
    font-family: inherit;
}
.addANDdelete{
    direction: rtl;
    display: inline-block;
    /*background-color: #65abc1;*/
    margin-top: 1rem;
    margin-right: 0;
    width: 40%;
    right:0;
    height:calc(100% - 1rem);

}
.addANDdelete > a >img,
.addANDdelete > img{
    margin-right: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}


.contact{
    height:56px;
background-color: white;
    border: 1px solid #4f4f4f;

}
.contact .img{
    width: calc(5% - .5rem);
    height: 100%;
    vertical-align: top;
    display: inline-block;
    left :0;
    margin-left: .5rem;

}
.contact .img >img{
    border-radius: 1.8rem;
}
.contact .name,
.contact .family{
    width:calc( 12% - .5rem);
    height:100%  ;
    font-size: 1.5rem;
   vertical-align: top;
    display: inline-block;
    left:0;
    margin-top:.7rem;
    margin-left: 1rem;
}

.contact .icon{
    width:50%;

    margin-left: .5rem;
    margin-top:.2rem;
}

.contact .email,
.contact .phoneNumber{
    width:calc( 23% - .5rem);
    height:100% ;
    font-size: 1.4rem;
    vertical-align: top;
    display: inline-block;
    left:0;
    margin-left: .3rem;
    margin-top:.7rem;
    text-align: center;
}

.contact .icon{
    width:22%;
    height: 100%;
    display: inline-block;
    right:0;
    direction: rtl;

}
.contact .icon img{
    margin:.5rem .5rem;

}
a:hover{
   font-size: 1.3rem;
}
a > span{
    margin-top: 1.8rem;
    display: inline-block;
    border: .1rem solid #1e1d1d;
    border-radius: .9rem;
    text-align: center;
    background-color: #fed330;
    color: #1e1d1d;
    padding: .7rem 1.9rem;
    margin-left: 87rem;
}
.bold {
    color:red;
    font-size: 1.7rem;
}
/*.contact .icon img{*/
/*    margin:.5rem .3rem;*/
/*}*/
/*.contact .icon img[src="./icon/icons8-call-30.png"]{*/

/*}*/
/*.contact .icon img[src="./icon/icons8-message-30.png"]{*/

/*}*/
/*.contact .icon img[src="./icon/icons8-whatsapp-30.png"]{*/

/* }*/
/*.contact .icon img[src="./icon/icons8-skype-30.png"]{*/

/*  }*/
/*.contact .icon img[src="./icon/icons8-telegram-app-30.png"]{*/

/*}*/
/*.contact .icon img[src="./icon/icons8-facebook-messenger-30.png"]{*/

/*}*/

