@font-face {
    font-family: "Comic";
    src :  url(./fonts/comic.eot);
    src : url(./fonts/comic.eot) format("embedded-opentype"),
    url(./fonts/comic.woff) format("woff"),
    url(./fonts/comic.ttf) format("truetype");
    font-weight: normal;
}
html{
    font-size: 100%;
}
body{
    font-family: "Comic";
    direction: ltr;
}
.note{
    background-color: #fed330ff;
font-family: Comic;
}
.h2{
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}
.botHeader{
    width:100% ;
    height: 100px;
}
.search{
    direction: ltr;
    display: inline-block;
    vertical-align: top;
    width:calc( 60% - 1rem) ;
    margin-left: 1rem;
    left:0;
    margin-top: 2rem;
    /*background-color: rebeccapurple;*/
}
.search input[id="search"]{
    border: 1px solid #4f4f4f;
    border-radius:.7rem;
    padding: .5rem 3rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: inherit;
}
.addANDdelete{
    direction: rtl;
    display: inline-block;
    /*background-color: #65abc1;*/
    margin-top: 1rem;
    margin-right: 0;
    width: 40%;
    right:0;
    height:calc(100% - 1rem);

}
.addANDdelete > a >img,
.addANDdelete > img{
    margin-right: 1rem;
    margin-top: 1rem;
}

.contact{
    height:48px;
background-color: white;
    border: 1px solid #4f4f4f;

}
.contact .name{
    width:calc( 50% - 1rem);
    height:100% ;
    font-size: 1.5rem;
   vertical-align: top;
    display: inline-block;
    left:0;
    margin-left: 1rem;
}

.contact .icon{
    width:50%;
    height: 100%;
    display: inline-block;
    right:0;
    direction: rtl;

}
.contact .icon img{
    margin:.5rem 1rem;
}
.contact .icon img[src="./icon/icons8-call-30.png"]{

}
.contact .icon img[src="./icon/icons8-message-30.png"]{

}
.contact .icon img[src="./icon/icons8-whatsapp-30.png"]{

 }
.contact .icon img[src="./icon/icons8-skype-30.png"]{

  }
.contact .icon img[src="./icon/icons8-telegram-app-30.png"]{

}
.contact .icon img[src="./icon/icons8-facebook-messenger-30.png"]{

}

